
@import url('https://fonts.googleapis.com/css?family=Lato:400,500&display=swap');

#camera-container {

  /* Configure positioning */
  position: absolute;
  top: 10%;
  left: 5%;

  /* Set the frame size to be displayed  */
  width: 100vh;
  height: 80vh;

  /* Add border radius */
  border-radius: 15px;
  overflow: hidden;

}

#camera-stream {

  /* Set the frame size to be displayed  */
  width: 110vh;
  height: 90vh;

  /* Remove top spacing */
  margin-top: -5vh;

  /* Default background color (when camera is offline/user has not enaled media device) */
  background-color: #000;

  /* Horizontal image flip */
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);

}

#right-container {

  /* Configure positioning */
  position: absolute;
  top: 55%;
  left: 62.5%;

}

#airplay-img {

  /* Configure positioning */
  position: absolute;
  top: -175%;
  left: 35%;

  width: 30%;

}

#join-now {

  /* Configure button padding */
  padding-left: 7.5vh;
  padding-right: 7.5vh;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;

  margin-right: 7.5vh;

  /* Border management */
  border: none;
  border-radius: 30px;

  /* Implement UCLA color palette */
  color: #fff;

  /* Text updates */
  font-size: 3vh;
  font-family: Lato;

}

#join-now:hover {
  background-color: #005587;
  transition: 0.15s;
}

#present {

  /* Configure button padding */
  padding-left: 7.5vh;
  padding-right: 7.5vh;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;

  /* Border management */
  border: none;
  border-radius: 30px;

  /* Implement UCLA color palette */
  color: #fff;

  /* Text updates */
  font-size: 3vh;
  font-family: Lato;

}

#present:hover {
  background-color: #FFC72C;
  transition: 0.15s;
}

#overlay {

  position: fixed;
  display: none;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;

}

#join-create-classroom {
  position: fixed;
  top: 50%;
  left: 50%;
}

.overlay-form {

  position: fixed;
  top: 40%;
  left: 20%;

  width: 60%;

  border: none;
  border-radius: 30px;

  padding-left: 5vh;
  padding-right: 20vh;
  padding-top: 5vh;
  padding-bottom: 5vh;

  background-color: white;

}

.classroom-text-input {
  width: 50%;
  border: none;
  padding: 1vh;
  transition: 0.3s;
  margin-right: 5%;
}

.classroom-text-input:focus {
  border: none;
  border-bottom: 1px solid #ababab;
  outline: none;
  transition: 0.3s;
}

.classroom-button-input {

  /* Configure button padding and margins */
  padding-left: 5vh;
  padding-right: 5vh;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;

  margin-left: 5%;

  /* Border management */
  border: none;
  border-radius: 30px;

  /* Implement UCLA color palette */
  color: #fff;

  /* Text updates */
  font-size: 3vh;
  font-family: Lato;

}

#captions {

  position: absolute;
  top: 20%;
  left: 10%;

  z-index: 7;

  /* padding: 2.5px; */
  color: white;
  background-color: rgba(0,0,0,0.6);

  max-width: 100vh;

}

.ucla-blue {
  background-color: #2774AE;
  color: white;
  transition: 0.15s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.ucla-blue:hover {
  background-color: #005587;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.ucla-gold {
  background-color: #ffb300;
  color: white;
  transition: 0.15s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.ucla-gold:hover {
  background-color: #FFC72C;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
